html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("static/bg.jpg");
    background-size: cover;
}
/* .navbar{
    height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    padding:0 20px;
    box-sizing: border-box;
} */
.page-header{
    height: 70px;
    background-color: rgba(0,0,0,0.7);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-list{
    display: flex;
}
.navbar-list li{
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 20px;
}
.navbar-list li:last-child{
    margin-right: 0;
}

.content{
    display: flex;
    /* 必须有空格 */
    height: calc(100vh - 70px);
}
.content .nav{
    width: 1000px;
    height: 300px;
    margin: auto;
    /* display: flex; */
}
.content .list{
    display: flex;
    justify-content: space-between;
}
.content .list li{
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s linear;
}
.content .list li:hover{
    box-shadow: 0 0 20px black;
}
.content .list li span{
    font-size: 20px;
    color: white;
}
.content .list li:nth-child(1){
    background-color: #595CA8;
}
.content .list li:nth-child(2){
    background-color: #FF9D2E;
}
.content .list li:nth-child(3){
    background-color: #015E91;
}
.content .list li:nth-child(4){
    background-color: #1DC128;
}
.content .list li:nth-child(5){
    background-color: #01A6DE;
}